@import url("https://fonts.googleapis.com/css2?family=Alata&family=Comic+Neue:ital,wght@0,400;0,700;1,700&family=Fredoka+One&family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:wght@400;500;600;700&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:wght@400;700&family=Mulish:wght@300;400&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500&family=Roboto:wght@400;500&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
header {
  min-height: 100vh;
  background: #fcf1f4;
}
.navbar {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  /* padding: 25px 0; */
  transition: all 0.3s ease;
}

.navbar ul {
  display: flex;
  gap: 25px;
}
.navbar ul li a {
  font-size: 17px;
  font-weight: 600;
  color: #150101;
  opacity: 0.6;
  font-family: "Hind Madurai", sans-serif;
}
.common-btn {
  border: none;
  background: #d23166;
  border-radius: 5px;
  font-family: "Hind Madurai", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fafafa;
  padding: 13px 40px;
  box-sizing: border-box;
  cursor: pointer;
}
.common-btn:hover {
  box-sizing: border-box;
  color: #d23166;
  background: #fafafa;
  border: 2px solid #d23166;
  border-radius: 5px;
  padding: 11px 38px;
}
.banner {
  display: flex;
  justify-content: center;

  /* gap: 100px; */
}
.banner-info {
  margin-top: 300px;
  width: 700px;
  /* padding-left: 30px; */
}
.banner img {
  /* width: 900px; */
  margin-top: 100px;
  padding-left: 200px;
}
.banner-info > p {
  color: #0f0101;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.banner-info > h1 {
  margin-top: 6px;
  font-size: 58px;
  color: #0f0101;
  opacity: 0.9;
  font-weight: 500;
  font-family: "Fredoka One", cursive;
  line-height: 120.5%;
}
.banner-info span {
  color: #d23166;
  opacity: 0.9;
}
.banner-info .info {
  margin-top: 35px;
  margin-bottom: 50px;
  color: #0f0101;
  opacity: 0.6;
  font-size: 18px;
  font-family: "Hind Madurai", sans-serif;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 500px;
  background-color: white;
}
.feature {
  width: 250px;
  height: 200px;
  background: #ffffff;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  font-family: "Hind Madurai", sans-serif;
}

.feature img {
  margin: 33px 40% 22px 40%;
}
.feature h4 {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 9px;
}
.feature p {
  color: #000000;
  opacity: 0.6;
  font-size: 14px;
  text-align: center;
  padding: 0px 10px;
}

/* // details section  */
.details-section {
  background-color: #f8edf0;
  height: 550px;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
.details {
  width: 450px;
}
.details h1 {
  font-size: 45px;
  color: #150101;
  font-weight: 600;
  font-family: "Hind Madurai", sans-serif;
}
.details p {
  font-size: 16px;
  color: #150101;
  opacity: 0.6;
  font-family: "Roboto", sans-serif;
  margin: 16px 0px 35px 0px;
}

/* // product section  */
.product-section {
  margin-top: 110px;
  margin-bottom: 100px;
  background-color: white;
}
.product-section > h1 {
  font-family: "Hind Madurai", sans-serif;
  font-size: 45px;
  color: #150101;
  font-weight: 600;
  text-align: center;
  margin-bottom: 55px;
}
.navs {
  display: flex;
  justify-content: center;
}
.navs a {
  color: #000000;
  opacity: 0.6;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-right: 40px;
}
.product-details h2 {
  font-weight: 700;
  font-size: 28px;
  color: #000000;
  font-family: "Hind Madurai", sans-serif;
  margin-bottom: 11px;
}
.product-details > p {
  font-size: 16px;
  color: #000000;
  opacity: 0.7;
  font-family: "Roboto", sans-serif;
}
.price {
  font-family: "Hind Madurai", sans-serif;
  display: flex;
  /* justify-content: center; */
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
  gap: 10px;
}
.price > p {
  font-weight: 500;
  font-size: 26px;
  color: #000000;
}
.price .del-price {
  color: #000000;

  opacity: 0.7;
  font-size: 20px;
  text-decoration: line-through;
}

.product-image img {
  width: 480px !important;
}
.product-details {
  width: 460px;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 110px;
  margin-top: 50px;
}

/* app section  */
.app-section {
  height: 670px;
  background-color: #f8edf0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.app-details > h1 {
  font-size: 45px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.app-details > p {
  font-size: 18px;
  color: #0f0101;
  font-family: "Roboto", sans-serif;
  opacity: 0.7;
  margin-bottom: 25px;
  margin-top: 15px;
}
.app-icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
.store-logo {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}
.store-logo img {
  width: 200px;
}
.store-logo img:last-child {
  margin-top: 10px;
}
.app-details {
  width: 650px;
}
.banner-img img {
  filter: drop-shadow(-10px 10px 5px rgba(0, 0, 0, 0.25));
  border-radius: 25px 25px 10px 10px;
}

/* contact us section  */
.contact-us-section {
  margin-top: 100px;
  margin-bottom: 90px;
}
.contact-us-section h1 {
  color: #000000;
  font-weight: 500;
  text-align: center;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}
.contact-us-section h1:last-child {
  margin-bottom: 30px;
}

.input-group {
  width: 700px;
  margin: 0 auto;
  margin-top: 40px;
  /* background-color: pink; */
}
input {
  height: 65px;
  width: 310px;
  padding: 0px 25px;
  border: 1px solid #ffa3a3;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
}
input:focus {
  outline: 1.5px solid crimson;
}
input::placeholder {
  font-size: 14px;
  font-weight: 500;
}
input:first-child {
  margin-right: 30px;
  margin-bottom: 20px;
}
.send-btn {
  height: 69px;
  margin-left: -50px;
  width: 150px;
}
.send-button-area {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.send-button-area input {
  width: 100%;
  /* margin-top: -10px; */
}
.inputs {
  display: flex;
  justify-content: center;
}
footer {
  padding: 100px 0px 80px 0px;
  background-color: #0a0808;
  font-family: "Roboto", sans-serif;
}
.footer {
  display: flex;
  justify-content: center;
  gap: 50px;
  /* align-items: center; */
}
.footer-item .footer-info {
  color: #ffffff;
  opacity: 0.7;
  font-size: 14px;
  margin-bottom: 20px;
}
.footer-item {
  width: 215px;
}
.common-heading {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 15px;
}
.links {
  display: flex;
  flex-direction: column;
}
.links a {
  margin-bottom: 15px;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.7;
}
.social-icons {
  /* cursor: pointer !important; */
  margin-top: 15px;
  display: block;
}
.social-icons img {
  margin-right: 10px;
}
#sub-btn {
  width: 250px;
  background-color: #000000;
  border: 1.6px solid #d64374;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  height: 50px;
}
#sub-btn:focus {
  outline: none;
}
.follow a {
  margin-right: 8px;
}
.subscribe-btn {
  width: 120px;
  /* margin:0; */
  padding: 0;
  height: 58px;
}
.subscribe-btn:hover {
  padding: 0;
}

/* // scroll to top back  */
.to-top {
  background-color: #d23166;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  color: white !important;
}
.fa-chevron-up {
  color: white !important;
}

/* // sticky navbar  */
.sticky {
  background-color: #ffffff;
  /* padding: 10px 0; */
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  height: 86px !important;
}


/* scroll bar design  */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #dcd9d9;
}
::-webkit-scrollbar-thumb{
    background: #d23166;
    border-radius: 8px;
}
::selection{
    background: rgba(0,123,255,0.3);
}
